{% extends "matcher/base.html" %}

{% load staticfiles %}

{% block title %}Error 404{% endblock %}
<!DOCTYPE HTML>
{%block head%}
	<style type="text/css">
	.wrap{
		margin-top:1px;
		width:1000px;
	}
	.logo{
		text-align:center;
		margin-top:10px;
	}
	.logo img{
		width:450px;
	}
	.logo p{
		color:#272727;
		font-family: cursive;
		font-size:40px;
		margin-top:1px;
	}	
	.logo p span{
		color:lightgreen;
	}
	.explicacion p{
		color:#272727;
		font-family: cursive;
		font-size:35px;
		margin-top:1px;
	}		
	</style>
{%endblock%}

{% block content %}
 <div class="wrap">
	<div class="logo">
		<p>OOPS! - URL ingresado no es válido</p>
		<img src="{% static 'images/404.png'%}"/>
		<br>
		<br>
		<div class="explicacion">
			<p>Por favor, ingrese un url válido</p>
		</div>
	</div>
 </div>	

{%endblock%}
