{% extends "matcher/base.html" %}

{% load staticfiles %}
{% load assign %}
{% load humanize %}

{% block title %}Archive{% endblock %}

{%block head%}
<!-- No hace falta cargar dataTables.css original si se incluye el de bootstrap -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.scroller.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-form-validation/jquery.validation.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'css/procesando.css' %}">
<link rel="stylesheet" href="{% static 'css/picker.css' %}">
<link rel="stylesheet" href="{% static 'css/picker.date.css' %}">



{%endblock%}

{% block content %}

<style> form {padding-bottom: 1%;} #table-div-conta, #table-div-corr {padding-top: 1%;}
.automatico{
  background-color: rgb(194, 194, 207) !important;
}
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }

</style>

<legend ><h1>Archive</h1></legend>
<input type="text" id="idioma" value="{{idioma}}" hidden/>
<form class="form-inline">
  <fieldset>
    <div class="row clearfix">
      <!-- Select Basic -->
      <div class="form-group col-md-3 ">
        {%if idioma == 0%}
          <label class="control-label" for="Cuenta-sel">Código Cuenta: </label>
        {%endif%}
        {%if idioma == 1%}
          <label class="control-label" for="Cuenta-sel">Account Code: </label>
        {%endif%}
        <div>
          <select id="Cuenta-sel" name="Cuenta-sel" class="form-control">
            <option value="-1">----------</option>
            {% for cuenta in cuentas %}
            <option id="opt-{{cuenta.idcuenta}}" value="{{cuenta.idcuenta}}" codigo="{{cuenta.codigo}}" moneda="{{cuenta.moneda_idmoneda.codigo}}" banco= "{{cuenta.banco_corresponsal_idbanco.codigo}}" cv="{{cuenta.ref_vostro}}" cn="{{cuenta.ref_nostro}}">{{cuenta.codigo}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    
      <div class="form-group col-md-3">
        <label class="control-label" for="boton-consulta">  </label>
        <div> 
          <button type="button" id="boton-consulta" data-loading-text="Cargando..." class="col-md-5 btn btn-primary" autocomplete="off">
          {%if idioma == 0%}
            Consulta
          {%endif%}
          {%if idioma == 1%}
            Consult
          {%endif%}
          </button>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="control-label" for="cta_nostro">
          {%if idioma == 0%}
            Mínima Fecha de Match:
          {%endif%}
          {%if idioma == 1%}
            Match min date:
          {%endif%} 
        </label>  
        <div>
          <input id="minima_fecha" name="minima_fecha" type="text" placeholder="" class="form-control input-md" style="width:80%" readonly>
        </div>
      </div>
    </div>  
  </fieldset>
</form>

<form class="form-inline">
  <fieldset>
    <div class="row clearfix">
      <!-- Text input-->
      <div class="form-group col-md-3">
        <label class="control-label">
          {%if idioma == 0%}
            Fecha:
          {%endif%}
          {%if idioma == 1%}
            Date:
          {%endif%} 
        </label>
        <div>
          <input id="fecha-ejecutar" class="form-control" style="width:65%;background-color:white">
        </div>
      </div>

      <div class="form-group col-md-3">
        <label class="control-label" for="boton-ejecutar">  </label>
        <div> 
          <button type="button" id="boton-ejecutar" data-loading-text="Cargando..." class="col-md-5 btn btn-success" autocomplete="off">
          {%if idioma == 0%}
            Ejecutar
          {%endif%}
          {%if idioma == 1%}
            Execute
          {%endif%}
          </button>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<br>

<legend style="color:#2e6da4">
  {%if idioma == 0%}
    Matches Confirmados
  {%endif%}
  {%if idioma == 1%}
    Confirmed Matches
  {%endif%}
</legend>

<form class="form-inline">
  <fieldset>
    <div class="row clearfix">
      <!-- Text input-->
      <div class="form-group col-md-3">
        <label class="control-label">
          {%if idioma == 0%}
            Fecha Inicial:
          {%endif%}
          {%if idioma == 1%}
            Initial Date:
          {%endif%}
        </label>
        <div>
          <input id="fecha-desde" class="form-control" style="width:65%;background-color:white">
        </div>
      </div>
    
      <div class="col-md-4 form-group">
        <label class="control-label" >
          {%if idioma == 0%}
            Archivo:
          {%endif%}
          {%if idioma == 1%}
            File:
          {%endif%}
        </label>
        <div id="divselec_archivo">
          <select style="width:70%" id="selec_archivo" name="selec_archivo" class="form-control">
            <option align="center"value="-1">---------------------------</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label class="control-label" for="boton-buscar">  </label>
        <div> 
          <button href="#tablaArchive" type="button" id="boton-buscar" data-loading-text="Cargando..." class="col-md-5 btn btn-primary" autocomplete="off">
            {%if idioma == 0%}
              Buscar
            {%endif%}
            {%if idioma == 1%}
              Search
            {%endif%}
          </button>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<form class="form-inline">
  <fieldset>
    <div class="row clearfix">
      <!-- Text input-->
      <div class="form-group col-md-3">
        <label class="control-label">
          {%if idioma == 0%}
            Fecha Final:
          {%endif%}
          {%if idioma == 1%}
            Final Date:
          {%endif%}
        </label>
        <div>
          <input id="fecha-hasta" class="form-control" style="width:65%;background-color:white">
        </div>
      </div>
    </div>
  </fieldset>
</form>
<div ="row" id="tablaArchive">
  <div style="padding-bottom:1%;" class="col-md-3 pull-right">
  </div>
</div>
  <div class="tab-pane active" id="conta-tab">
    <div id="table-div-conta" class="table-responsive col-md-12">
      <table id="table-pa" class="table table-bordered table-striped tabla">
        <thead>
          <tr>
            {%if idioma == 0%}
              <th>E/C</th>
              <th>Pag.</th>
              <th>Fecha</th>
              <th>Tipo</th>
              <th>Ref Nostro</th>
              <th>Ref Vostro</th>
              <th>Detalles</th>
              <th>C/D</th>
              <th>Monto</th>
              <th>S/L</th>
            {%endif%}
            {%if idioma == 1%}
              <th>E/C</th>
              <th>Page</th>
              <th>Date</th>
              <th>Type</th>
              <th>Nostro Ref</th>
              <th>Vostro Ref</th>
              <th>Details</th>
              <th>C/D</th>
              <th>Amount</th>
              <th>S/L</th>
            {%endif%}
          </tr>
        </thead>
        <tbody id="tb-conta">
        </tbody>
      </table>
    </div>
  </div>


<!-- Static Modal para procesando -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="{% static 'images/procesando.gif' %}" class="icon" />
                    {%if idioma == 0%}
                      <h4>Procesando, por favor espere.</h4>
                    {%endif%}
                    {%if idioma == 1%}
                      <h4>Processing, wait please.</h4>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script%}
<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.scroller.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-form-validation/jquery.validation.min.js' %}"></script>
<script src="{% static 'js/sweet-alert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/picker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/picker.date.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pickerlegacy.js' %}"></script>
<script src="{% static 'js/admin_archive.js' %}" type="text/javascript"></script>
{% endblock %}