{% extends "matcher/base.html" %}

{% load staticfiles %}
{% load humanize %}
{% block title %}Monedas disponibles{% endblock %}

{%block head%}
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-form-validation/jquery.validation.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'css/procesando.css' %}">
{%endblock%}

{% block content %}
<input type="text" id="idioma" value="{{idioma}}" hidden/>
<div class="table-responsive col-md-7">
    <table id ="table-mon" class="table table-bordered table-striped tabla">
        <thead>
            <tr>
              {%if idioma == 0%}
                <th>Código</th>
                <th>Nombre</th>
                <th>Cambio (USD)</th>
              {%endif%}
              {%if idioma == 1%}
                <th>Code</th>
                <th>Name</th>
                <th>Change (USD)</th>
              {%endif%}
            </tr>
        </thead>
        <tbody>
            {% for moneda in monedas %}
            <tr id= "tr-{{moneda.idmoneda}}">
                <td id= "td-{{moneda.idmoneda}}"><a href="/admin/monedas/{{moneda.idmoneda}}" nombre = "{{ moneda.nombre }}" codigo = "{{ moneda.codigo }}" cambio="{{ moneda.cambio_usd }}" id="{{moneda.idmoneda}}" type="moneda"> {{ moneda.codigo }}</td>
                <td>{{ moneda.nombre }}</td>
                <td>{{ moneda.cambio_usd | intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-md-5">
    <button type="button" id="addButton" data-loading-text="Cargando..." class="col-md-3 btn btn-success" autocomplete="off" data-toggle="modal" data-target="#add-moneda-modal">
      {%if idioma == 0%}
        Agregar
      {%endif%}
      {%if idioma == 1%}
        Add
      {%endif%}
    </button>
</div>
<div style="padding-top:1%;" class="col-md-5">
    <button type="button" id="delButton" data-loading-text="Cargando..." class="col-md-3 btn btn-danger" autocomplete="off">
      {%if idioma == 0%}
        Eliminar
      {%endif%}
      {%if idioma == 1%}
        Delete
      {%endif%}
    </button>
</div>
<div style="padding-top:1%;" class="col-md-5">
    <button type="button" id="updButton" data-loading-text="Cargando..." class="col-md-3 btn btn-primary" autocomplete="off">
      {%if idioma == 0%}
        Modificar
      {%endif%}
      {%if idioma == 1%}
        Modify
      {%endif%}
    </button>
</div>

<input id="Id_moneda" name="Id_moneda" value="-1" type="text" hidden>
<div style="padding-top:2%;" class="col-md-5 moneda-detalle" hidden>
    <form class="form-vertical">
    <fieldset>
        <!-- Form Name -->
        <legend>
          {%if idioma == 0%}
            Detalles:
          {%endif%}
          {%if idioma == 1%}
            Details:
          {%endif%}
        </legend>

        <div class="row clearfix">

            <div class="form-group col-md-8 column">
              <label class="control-label" for="Cod_banco">
                {%if idioma == 0%}
                  Código:
                {%endif%}
                {%if idioma == 1%}
                  Code:
                {%endif%}
              </label>  
              <div>
                <input id="Cod_moneda" name="Cod_moneda" type="text" class="form-control input-md">
              </div>
            </div>

            <div class="form-group col-md-8 column">
              <label class="control-label" for="Nom_banco">
                {%if idioma == 0%}
                  Nombre:
                {%endif%}
                {%if idioma == 1%}
                  Name:
                {%endif%}
              </label>  
              <div>
                <input id="Nom_moneda" name="Nom_moneda" type="text" class="form-control input-md">
              </div>
            </div>
            <div class="form-group col-md-8 column">
              <label class="control-label" for="Nom_banco">
                {%if idioma == 0%}
                  Cambio (USD):
                {%endif%}
                {%if idioma == 1%}
                  Change (USD):
                {%endif%}
              </label>  
              <div>
                <input id="Cam_moneda" name="Cam_moneda" type="text" class="form-control input-md">
              </div>
            </div>
        </div>
    </fieldset>
    </form>
</div>

<div class="modal fade" id="add-moneda-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form style="margin-left:8%;" id="form-add-moneda" name="form-add-moneda" method="POST" class="validation-form-container">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            {%if idioma == 0%}
              Agregar Moneda:
            {%endif%}
            {%if idioma == 1%}
              Add Currency:
            {%endif%}
          </h4>
        </div>
        <div class="modal-body">
          <div class="field">
              <label for="add-moneda-nombre">
                {%if idioma == 0%}
                  Nombre:
                {%endif%}
                {%if idioma == 1%}
                  Name:
                {%endif%}
              </label>
              <div class="ui left labeled input">
                {%if idioma == 0%}
                  <input type="text" name="add-moneda[Nombre]" id="add-moneda-nombre" placeholder="Nombre de la moneda" data-validation="[L>=1, L<=10]" data-validation-message="$ debe tener entre 1 y 10 caracteres. Sin caracteres especiales." data-validation-regex="/^((?!admin).)*$/i" data-validation-regex-message="La palabra&quot;Admin&quot; no esta permitido en el $" data-toggle="popover" data-content="Puedes usar letras y numeros, sin espacio ni caracteres especiales.">
                {%endif%}
                {%if idioma == 1%}
                  <input type="text" name="add-moneda[Name]" id="add-moneda-nombre" placeholder="Currency name" data-validation="[L>=1, L<=10]" data-validation-message="$ must have between 1 and 10 characters. No special characters." data-validation-regex="/^((?!admin).)*$/i" data-validation-regex-message="The word &quot;Admin&quot; is not allowed at $" data-toggle="popover" data-content="You can use numbers and letters only.">
                {%endif%}
                  <div class="ui corner label">
                    <i class="asterisk icon">*</i>
                  </div>
              </div>
          </div>

          <div class="field">
              <label for="add-moneda-codigo">
                {%if idioma == 0%}
                  Código:
                {%endif%}
                {%if idioma == 1%}
                  Code:
                {%endif%}
              </label>
              <div class="ui left labeled input">
                {%if idioma == 0%}
                  <input type="text" name="add-moneda[codigo]" id="add-moneda-codigo" placeholder="Codigo de la moneda" data-validation="[L>=1, L<=3]" data-validation-message="$ debe tener entre 1 y 3 caracteres. Sin caracteres especiales." data-validation-regex="/^((?!admin).)*$/i" data-validation-regex-message="La palabra &quot;Admin&quot; no esta permitido en el $" data-toggle="popover" data-content="Puedes usar letras y numeros, sin espacio ni caracteres especiales."></input>
                {%endif%}
                {%if idioma == 1%}
                  <input type="text" name="add-moneda[Code]" id="add-moneda-codigo" placeholder="Currency Code" data-validation="[L>=1, L<=3]" data-validation-message="$ must have between 1 and 3 characters. No special characters." data-validation-regex="/^((?!admin).)*$/i" data-validation-regex-message="The word &quot;Admin&quot; is not allowed at $" data-toggle="popover" data-content="You can use numbers and letters only."></input>
                {%endif%}
                  <div class="ui corner label">
                    <i class="asterisk icon">*</i>
                  </div>
              </div>
          </div>

          <div class="field">
              <label for="add-moneda-cambio">
                {%if idioma == 0%}
                  Cambio:
                {%endif%}
                {%if idioma == 1%}
                  Change (USD):
                {%endif%}
              </label>
              <div class="ui left labeled input">
                {%if idioma == 0%}
                  <input type="text" name="add-moneda[cambio]" id="add-moneda-cambio" placeholder="Cambio de la moneda hacia USD" data-validation="[L>=2, L<=6]" data-validation-message="$ debe tener entre 2 y 6 digitos." data-validation-regex="/^\d+(\.\d+)?$/" data-validation-regex-message="Sólo se permiten números" data-toggle="popover" data-content="Puedes numeros y punto, sin espacio ni caracteres especiales."></input>
                {%endif%}
                {%if idioma == 1%}
                  <input type="text" name="add-moneda[Change]" id="add-moneda-cambio" placeholder="Currency change to USD" data-validation="[L>=2, L<=6]" data-validation-message="$ must have between 2 and 6 digits." data-validation-regex="/^\d+(\.\d+)?$/" data-validation-regex-message="Only numbers and a dot allowed" data-toggle="popover" data-content="You can use numbers and a dot only."></input>
                {%endif%}
                  <div class="ui corner label">
                    <i class="asterisk icon">*</i>
                  </div>
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            {%if idioma == 0%}
              Cerrar
            {%endif%}
            {%if idioma == 1%}
              Close
            {%endif%}
          </button>
          {%if idioma == 0%}
            <input id="addb-submit" type="submit" class="btn btn-primary" value="Aceptar">
          {%endif%}
          {%if idioma == 1%}
            <input id="addb-submit" type="submit" class="btn btn-primary" value="Accept">
          {%endif%}
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Static Modal para procesando -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="{% static 'images/procesando.gif' %}" class="icon" />
                    {%if idioma == 0%}
                      <h4>Procesando, por favor espere.</h4>
                    {%endif%}
                    {%if idioma == 1%}
                      <h4>Processing, wait please.</h4>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script%}
<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-form-validation/jquery.validation.min.js' %}"></script>
<script src="{% static 'js/sweet-alert.min.js' %}"></script>
<script src="{% static 'js/admin_monedas.js' %}" type="text/javascript"></script>
{% endblock %}