{% extends "matcher/base.html" %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.bootstrap-touchspin.min.css' %}">
{% endblock%}

{% block content %}

<style type="text/css">
#detalleCuentaForm {
    margin-top: 15px;
}

.checkboxes>*, #dg-tabcont>div  {
  padding-top: 1%;
}
</style>

<div class="table-responsive col-md-12">
    <table id="table-cuentas" class="table table-bordered table-striped tabla">
        <thead>
            <tr>
                <th>Código cuenta</th>
                <th>Descripción</th>
                <th>Banco</th>
                <th>No. Cta. Nostro</th>
                <th>No. Cta. Vostro</th>
                <th>Código Moneda</th>
                <th>Estado</th>
                <th>Criterios de Match</th>

            </tr>
        </thead>
        <tbody>
            {% for cuenta in cuentas %}
            <tr id= "tr-{{cuenta.idcuenta}}">
                <td id= "td-{{cuenta.idcuenta}}"><a cod="{{cuenta.codigo }}" id="{{cuenta.idcuenta}}" criterio="{{cuenta.criterios_match_idcriterio.idcriterio}}" desc="{{cuenta.descripcion}}" banco="{{cuenta.banco_corresponsal_idbanco.idbanco}}" moneda="{{cuenta.moneda_idmoneda.idmoneda}}" nostro="{{cuenta.ref_nostro}}" vostro="{{cuenta.ref_vostro}}" estado="{{cuenta.estado}}" nsaltos="{{cuenta.num_saltos}}" tgiro="{{cuenta.transaccion_giro}}" retencion="{{cuenta.tiempo_retension}}" correoa="{{cuenta.correo_alertas}}" intrad="{{cuenta.intraday}}" tipocta="{{cuenta.tipo_cta}}">{{cuenta.codigo }}</a></td>
                <td>{{ cuenta.descripcion|default:"" }}</td>
                <td>{{ cuenta.banco_corresponsal_idbanco.codigo|default:"" }}</td>
                <td>{{ cuenta.ref_nostro|default:"" }}</td>
                <td>{{ cuenta.ref_vostro|default:"" }}</td>
                <td>{{ cuenta.moneda_idmoneda.codigo|default:"" }}</td>
                <td>{{ cuenta.estado|default:"" }}</td>
                <td>{{ cuenta.criterios_match_idcriterio.nombre|default:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr/><br/>
</div>

<legend>Detalles:</legend>
<ul class="nav nav-tabs" id="seg-tab">
    <li class="active"><a href="#datosg-tab" data-toggle="tab">Datos Generales <i class="fa"></i></a></li>
    <li><a href="#alerta-tab" data-toggle="tab">Alertas <i class="fa"></i></a></li>
    <li><a href="#fyp-tab" data-toggle="tab">Formatos y Procesos<i class="fa"></i></a></li>
</ul>
<form id="detalleCuentaForm" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="tab-content">
        <div class="tab-pane active" id="datosg-tab">
            <div class="well col-md-5">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Código Cuenta:</label>
                    <div class="col-xs-5">
                        <input type="text" class="form-control" id="cuenta-codigo" value="" name="ccuenta" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="Banco-sel">Banco: </label>
                    <div class="col-md-5">
                    <select id="Banco-sel" name="Cuenta-sel" class="form-control">
                      <option value="-1">----------</option>
                      {% for banco in bancos %}
                      <option id="opt-{{banco.idbanco}}" value="{{banco.idbanco}}">{{banco.codigo}}</option>
                      {% endfor %}
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">Descripción:</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" value="" id="cuenta-desc" name="descr" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">No. Cta. Nostro:</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" value="" id="cuenta-nostro" name="nostro" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 control-label">No. Cta. Vostro:</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" value="" id="cuenta-vostro" name="vostro" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="Moneda-sel">Código Moneda: </label>
                    <div class="col-md-3">
                    <select id="Moneda-sel" name="Cuenta-sel" class="form-control">
                      <option value="-1">----------</option>
                      {% for moneda in monedas %}
                      <option id="opt-{{moneda.idmoneda}}" value="{{moneda.idmoneda}}">{{moneda.codigo}}</option>
                      {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            <div class="well col-md-7">
              <ul class="nav nav-tabs" id="dg-tab">
                  <li class="active"><a href="#dg-param-tab" data-toggle="tab">Parámetros<i class="fa"></i></a></li>
                  <li><a href="#dg-critmatch-tab" data-toggle="tab">Criterios Match <i class="fa"></i></a></li>
                  <li><a href="#dg-reglastrans-tab" data-toggle="tab">Reglas Transformación<i class="fa"></i></a></li>
                  <li><a href="#dg-encaje-tab" data-toggle="tab">Encaje<i class="fa"></i></a></li>
              </ul>

              <form id="dgCuentaForm" method="post" class="form-horizontal">
                  <div class="tab-content" id="dg-tabcont">

                      <div class="tab-pane active" id="dg-param-tab">
                        </br>
                        <div class="form-group">
                          <label class="col-md-5 control-label">
                              Retención E/C -Histórico:
                          </label>
                          <div class="col-md-4">
                              <input type="text" class="form-control" id="dg-spin0" value="0"/>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-5 control-label">
                              Nro. Saltos:
                          </label>
                          <div class="col-md-4">
                              <input type="text" class="form-control" id="dg-spin1" value="0"/>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-5 control-label">
                              Tipo Transacción Giro:
                          </label>
                          <div class="col-md-3">
                              <input type="text" class="form-control" id="tipoTransGiro" value=""/>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-5 control-label">
                              Estado:
                          </label>
                          <div class="col-md-3">
                              <select id="param-sel" name="param-sel" class="form-control">
                                <option value="activa">Activa</option>
                                <option value="inactiva">Inactiva</option>
                              </select>
                          </div>
                        </div>

                      </div>

                      <div class="tab-pane" id="dg-critmatch-tab">
                        </br>
                        <div class="form-group">
                          <label class="col-md-5 control-label">
                              Criterio:
                          </label>
                          <div class="col-md-4">
                              <select id="param-sel" name="param-sel" class="form-control">
                                <option value="-1">---------</option>
                                {% for criterio in criterios %}
                                  <option id="opt-{{criterio.idcriterio}}" value="{{criterio.idcriterio}}" nombre ="{{ criterio.nombre }}" monto1="{{ criterio.monto1 }}" monto2="{{ criterio.monto2 }}" monto3="{{ criterio.monto3 }}" fecha1="{{ criterio.fecha1 }}" fecha2="{{ criterio.fecha2 }}" fecha3="{{ criterio.fecha3 }}" fecha4="{{ criterio.fecha4 }}" fecha5="{{ criterio.fecha5 }}" type="criterio">{{criterio.nombre}}</option>
                                {% endfor %}
                              </select>
                          </div>
                        </div>

                        <div class="form-group col-md-12">
                          <label class="col-md-12" for="Nom_criterio">Nombre:</label>  
                          <div class="col-md-4">
                            <input id="Nom_criterio" name="Nom_criterio" type="text" class="form-control input-md">
                          </div>
                        </div>
                        
                        <div class="form-group col-md-12">
                          <label class="col-md-12">Diferencia de montos:</label>  
                          <div class="col-md-2">
                            <input id="Mon1_criterio" name="Mon1_criterio" type="text" class="form-control input-md">
                          </div>
                          <div class="col-md-2">
                            <input id="Mon2_criterio" name="Mon2_criterio" type="text" class="form-control input-md">
                          </div>
                          <div class="col-md-2">
                            <input id="Mon3_criterio" name="Mon3_criterio" type="text" class="form-control input-md">
                          </div>
                        </div>

                        <div class="form-group col-md-12">
                          <label class="col-md-12">Diferencia de Fechas:</label>  
                          <div class="col-md-2">
                            <input id="F1_criterio" name="F1_criterio" type="text" class="form-control input-md">
                          </div>
                          <div class="col-md-2">
                            <input id="F2_criterio" name="F2_criterio" type="text" class="form-control input-md">
                          </div>
                          <div class="col-md-2">
                            <input id="F3_criterio" name="F3_criterio" type="text" class="form-control input-md">
                          </div>
                          <div class="col-md-2">
                            <input id="F4_criterio" name="F4_criterio" type="text" class="form-control input-md">
                          </div>
                          <div class="col-md-2">
                            <input id="F5_criterio" name="F5_criterio" type="text" class="form-control input-md">
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" id="dg-reglastrans-tab">
                          </br>
                          <div class="row">

                            <label class="col-md-1" for="sel-regla">Regla: </label>
                            <div class="col-md-4">
                                <select id="sel-regla" name="sel-regla" class="col-md-6 form-control">
                                  <option value="-1">--------</option>
                                </select>
                            </div>

                            <div class="col-md-7">
                              <label class="col-md-3" for="Nom_criterio">Nombre:</label>  
                              <div class="col-md-9">
                                <input id="Nom_criterio" name="Nom_criterio" type="text" class="form-control input-md">
                              </div>
                            </div>

                          </div>

                          </br></br>

                          <label class="col-md-4 text-center">Transacción</label>
                          <label class="col-md-3 text-center">Referencia</label>
                          <label class="col-md-5 text-center">Máscara</label>

                          <div class="row">
                            <div class="col-md-1">
                              <span id="label-conta" type="text">Cont</span>
                            </div>

                            <!-- Text input-->
                            <div class="col-md-3">
                              <input id="trans-conta" name="trans-conta" type="text"  class="form-control input-md">
                            </div>

                            <!-- Select Basic -->
                            <div class="col-md-3">
                                <select id="sel-ref-conta" name="sel-ref-conta" class="form-control">
                                  <option value="-1">--------</option>
                                  <option value="Nostro">Nostro</option>
                                  <option value="Vostro">Vostro</option>
                                </select>
                            </div>

                            <!-- Text input-->
                            <div class="col-md-5">
                              <input id="masc-conta" name="masc-conta" type="text"  class="form-control input-md">
                            </div>
                          </div>
                          </br>
                          <div class="row">
                            <div class="col-md-1">
                              <span id="label-corr" type="text">Corr</span>
                            </div>

                            <!-- Text input-->
                            <div class="col-md-3">
                              <input id="trans-corr" name="trans-corr" type="text"  class="form-control input-md">
                            </div>

                            <!-- Select Basic -->
                            <div class="col-md-3">
                                <select id="sel-ref-corr" name="sel-ref-corr" class="form-control">
                                  <option value="-1">--------</option>
                                  <option value="Nostro">Nostro</option>
                                  <option value="Vostro">Vostro</option>
                                </select>
                            </div>

                            <!-- Text input-->
                            <div class="col-md-5">
                              <input id="masc-corr" name="masc-corr" type="text"  class="form-control input-md">
                            </div>
                          </div>
                      </div>

                      <div class="tab-pane" id="dg-encaje-tab">
                        </br>

                      </div>

                  </div>
              </form>
            </div>
        </div>

        <div class="tab-pane" id="alerta-tab">

            <div class="form-group">
              <div class="col-md-8 checkboxes">
                  <div class="checkbox col-md-7">
                    <label for="Alertas-0">
                      <input type="checkbox" name="Alertas" id="Alertas-0" value="0">
                      Días sin conciliar antes de enviar alerta
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input type="text" id="spin0" value="0" disabled/>
                  </div>
                  <div class="checkbox col-md-7">
                    <label for="Alertas-1">
                      <input type="checkbox" name="Alertas" id="Alertas-1" value="1">
                      Cambios del saldo mayores al
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input type="text" id="spin1" value="0" disabled/>
                  </div>
                  <div class="checkbox col-md-7">
                    <label for="Alertas-2">
                      <input type="checkbox" name="Alertas" id="Alertas-2" value="2">
                      Partidas pendientes por más de
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input type="text" id="spin2" value="0" disabled/>
                  </div>
                  <div class="checkbox col-md-7">
                    <label for="Alertas-3">
                      <input type="checkbox" name="Alertas" id="Alertas-3" value="3">
                      No se han cargado estado de cuenta en los últimos
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input type="text" id="spin3" value="0" disabled/>
                  </div>
              </div>

              <div class="col-md-4  col-md-pull-1 checkboxes">

                  <div class="checkbox">
                    <label for="Alertas-4">
                      <input type="checkbox" name="Alertas" id="Alertas-4" value="4">
                      Partidas Pendientes sin Observación
                    </label>
                  </div>

                  <div class="checkbox">
                    <label for="Alertas-5">
                      <input type="checkbox" name="Alertas" id="Alertas-5" value="5">
                      Diferencias de saldo luego de conciliar
                    </label>
                  </div>

                  <div class="checkbox">
                    <label for="Alertas-6">
                      <input type="checkbox" name="Alertas" id="Alertas-6" value="6">
                      Cuenta sobregirada
                    </label>
                  </div>
              </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Enviar alertas al correo:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" id="a-mail" name="a-mail" />
                </div>
            </div>
        </div>

        <div class="tab-pane" id="fyp-tab">
          <div class="form-group col-md-8 col-md-pull-1">
            <label class="col-md-4 control-label" for="TipoCuenta-sel">Tipo de Cuenta: </label>
            <div class="col-md-4">
            <select id="TipoCuenta-sel" name="TipoCuenta-sel" class="form-control">
              <option value="-1">----------</option>
              <option value="0">Nacional</option>
              <option value="1">Exterior</option>
              <option value="2">Cuenta Propia</option>
              <option value="3">Banco Central</option>
              <option value="4">Auxiliar</option>
            </select>
            </div>
          </div>

          <div class="well col-md-5">
            <legend>Formato Archivos de Carga</legend>

            <div class="form-group">
              <label class="col-md-4 control-label" for="FormConta-sel">Contabilidad: </label>
              <div class="col-md-8">
              <select id="FormConta-sel" name="FormConta-sel" class="form-control">
                <option value="-1">----------</option>
                <option value="0">Metalenguaje MT950</option>
                <option value="1">Metalenguaje MT950 Solo Saldos</option>
                <option value="2">Formato ;</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="FormCorr-sel">Corresponsal: </label>
              <div class="col-md-8">
              <select id="FormCorr-sel" name="FormCorr-sel" class="form-control">
                <option value="-1">----------</option>
                <option value="0">Swift MT950</option>
                <option value="1">Formato ;</option>
              </select>
              </div>
            </div>

          </div>
          <div class="well col-md-5 col-md-push-1">
            <legend>Procesos Automáticos de Match</legend>
            <div class="form-group">
              <div class="col-md-6">
                  <div class="checkbox">
                    <label for="Proc-1">
                      <input type="checkbox" name="Proc" id="Proc-1" value="1">
                      1. Normal 1-1
                    </label>
                  </div>
                  </br>
                  <div class="checkbox">
                    <label for="Proc-2">
                      <input type="checkbox" name="Proc" id="Proc-2" value="2">
                      2. Reversos Cont 2-0
                    </label>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="checkbox">
                    <label for="Proc-3">
                      <input type="checkbox" name="Proc" id="Proc-3" value="3">
                      3. Reversos Corr 0-2
                    </label>
                  </div>
                  </br>
                  <div class="checkbox">
                    <label for="Proc-4">
                      <input type="checkbox" name="Proc" id="Proc-4" value="4">
                      4. n-m
                    </label>
                  </div>
              </div>
            </div>
          </div>
        </div> <!--End of tab pane fyp-->
    </div>

    <div class="form-group" style="margin-top: 15px;">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" id="acptButton" class="btn btn-success">Aceptar</button>
            <p onclick="goBack()" class="btn btn-danger">Cancelar</p>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}

<script> //define el idioma de la tabla (es/en)
         idioma_tr = "es" </script>
<script src="{% static 'js/validator.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/sweet-alert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap-touchspin.min.js' %}"></script>

<script type="text/javascript">
//idioma_tr es una variable global definida en la pagina
var tabla = iniciar_tabla(idioma_tr);
var csrftoken = $.cookie('csrftoken');


function iniciar_tabla(idioma){
    if (idioma==="es"){

        return $('#table-cuentas').DataTable({
            //poner if con idioma, el ingles es predeterminado
            language: {
                url: '/static/json/Spanish-tables.json'
            }
        })

    }else if (idioma==="en"){

        return $('#table-cuentas').DataTable({
            language: {
                url: '/static/json/English-tables.json'
            }
        })
    };
};

//Inicializar los Spinner
  $("#spin1").TouchSpin({
      verticalbuttons: true,
      min: 0,
      max: 100,
      step: 1,
      boostat: 5,
      maxboostedstep: 10,
      postfix: '%'
  });

  $("#spin0, #spin2, #spin3").TouchSpin({
      verticalbuttons: true,
      min: 0,
      max: 100,
      step: 1,
      boostat: 5,
      maxboostedstep: 10,
      postfix: 'Días'
  });

  $("#dg-spin0").TouchSpin({
      verticalbuttons: true,
      min: 0,
      max: 100,
      step: 1,
      boostat: 5,
      maxboostedstep: 10,
      postfix: 'Meses'
  });

  $("#dg-spin1").TouchSpin({
      verticalbuttons: true,
      min: 0,
      max: 100,
      step: 1,
      boostat: 5,
      maxboostedstep: 10
  });



//Habilitar los Spinner si se elige el checkbox
  $('#Alertas-0').change(function () {
      $("#spin0").prop("disabled", !this.checked);
  });
  $('#Alertas-1').change(function () {
      $("#spin1").prop("disabled", !this.checked);
  });
  $('#Alertas-2').change(function () {
      $("#spin2").prop("disabled", !this.checked);
  });
  $('#Alertas-3').change(function () {
      $("#spin3").prop("disabled", !this.checked);
  });

$('#acptButton').on('click', function () {
  event.preventDefault();

  //Campos datos generales
  var cuentac = $('#cuenta-codigo').val();
  var banco = $('#Banco-sel').val();
  var descripcion = $('#cuenta-desc').val();
  var ctanostro = $('#cuenta-nostro').val();
  var ctavostro = $('#cuenta-vostro').val();
  var moneda = $('#Moneda-sel').val();

  //Campos alertas

  //checkboxes
  var chkb0 = $('#Alertas-0').checked;
  var chkb1 = $('#Alertas-1').checked;
  var chkb2 = $('#Alertas-2').checked;
  var chkb3 = $('#Alertas-3').checked;
  var chkb4 = $('#Alertas-4').checked;
  var chkb5 = $('#Alertas-5').checked;
  var chkb6 = $('#Alertas-6').checked;
  //spinners
  var spin0 = $("#spin0").val();
  var spin1 = $("#spin1").val();
  var spin2 = $("#spin2").val();
  var spin3 = $("#spin3").val();

  //correo de alertas
  var alertmail = $("#a-mail").val();

  //Campos formatos y procesos
  var tipocta = $('#TipoCuenta-sel').val();
  var formconta = $('#FormConta-sel').val();
  var formcorr = $('#FormCorr-sel').val();

  var chkbproc1 = $('#Proc-1').checked;
  var chkbproc2 = $('#Proc-2').checked;
  var chkbproc3 = $('#Proc-3').checked;
  var chkbproc4 = $('#Proc-4').checked;

  var checkedalertas = $('input[name="Alertas"]:checked');
  var checkedprocs = $('input[name="Proc"]:checked');

  if (checkedalertas.length>0){
    for (var i=0;i<checkedalertas.length;i++){
        var aux = $(checkedalertas[i]).val();
        var spinval = $('#spin'+aux).val();
        console.log(spinval);
    }
  }

});


</script>


<script>
function goBack() {
    var msg = "Seguro que desea cancelar?",
        r = confirm(msg);
        
    if (r == true) {
        window.history.back();
    }
};
</script>
{% endblock %}