{% extends "matcher/base.html" %}

{%block content%}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron col-md-11" style="background-color:lightgray;">
      <div class="container">
        <h1>Bienvenido a Matcher!</h1>
        <p>Gracias por usar macher</p>
        <p><a class="btn btn-primary btn-lg" href="http://www.bcg.com.ve" role="button">Aprenda más &raquo;</a></p>
      </div>
    </div>

    <div class="col-md-2 pull-right">
      <hr>
      <footer>
        <hr>
        <p>&copy; BCG 2015</p>
      </footer>
    </div>
{%endblock%}
