{% extends "matcher/base.html" %}

{%block content%}
  
  <div class="table-responsive col-md-11">
    <div class="row">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron col-md-11" style="background-color:lightgray;">
        <div class="container">
          <h1>Bienvenido a Matcher!</h1>
          <p>Gracias por usar matcher</p>
          <p><a class="btn btn-primary btn-lg" href="http://www.bcg.com.ve" role="button">Aprenda más &raquo;</a></p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-10">
      {%if mensaje %}
        <h2 style="color:red">{{mensaje}}</h2>
        <h5 style="color:red">Le recordamos que una vez que su licencia caduque los usuarios no podrán acceder al sistema. Por lo que le suguerimos contactar a BCG en la brevedad posible.</h5>
      {%endif%}
      </div>
    </div>

    <div class="col-md-2 pull-right">
      <hr>
      <footer>
        <hr>
        <p>&copy; BCG 2015</p>
      </footer>
    </div>
  </div>
{%endblock%}
