{% extends "matcher/base.html" %}

{% load staticfiles %}

{% block title %}Listar Cuentas{% endblock %}

{%block head%}
<!-- No hace falta cargar dataTables.css original si se incluye el de bootstrap -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
{%endblock%}

{% block content %}
<input type="text" id="idioma" value="{{idioma}}" hidden/>
<div class="table-responsive col-md-10">
    <table id="table-cuentas" class="table table-bordered table-striped tabla">
        <thead>
            <tr>
                {%if idioma == 0%}
                    <th>Código cuenta</th>
                    <th>Banco</th>
                    <th>Última Conciliación</th>
                    <th>Último Historico</th>
                {%endif%}
                {%if idioma == 1%}
                    <th>Account Code</th>
                    <th>Bank</th>
                    <th>Last Reconciliation</th>
                    <th>Last Hitoric</th>
                {%endif%}
            </tr>
        </thead>
        <tbody>
            {% for cuenta in cuentas %}
            <tr id= "tr-{{cuenta.idcuenta}}">
                <td id= "td-{{cuenta.idcuenta}}"><a href="/resumen/{{cuenta.idcuenta}}" id="{{cuenta.idcuenta}}">{{ cuenta.codigo }}</a></td>
                <td>{{ cuenta.banco_corresponsal_idbanco.codigo }}</td>
                <td>{{ cuenta.ultimafechaconciliacion|date:"d/m/Y"|default:"" }}</td>
                <td>{{ cuenta.ultimafechahistorico|date:"d/m/Y"|default:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr/><br/>
</div>
{% endblock %}

{% block script%}
<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>

<script type="text/javascript">
var idioma = $('#idioma').val();
var idiomaAux = "";

if (idioma == 0){
    idiomaAux = "es"
} else {
    idiomaAux = "en"
}
iniciar_tabla(idiomaAux);

function iniciar_tabla(idioma){

    
    if (idioma==="es"){

        return $('#table-cuentas').DataTable({
            //poner if con idioma, el ingles es predeterminado
            language: {
                url: '/static/json/Spanish-tables.json'
            }
        })

    }else if (idioma==="en"){

        return $('#table-cuentas').DataTable({
            language: {
                url: '/static/json/English-tables.json'
            }
        })
    };
};
</script>
{% endblock %}