{% extends "matcher/base.html" %}

{% load staticfiles %}

{%block head%}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
{%endblock%}

{% block content %}  
    <div class="row bodylogin">
        <div class="col-md-12">
            <div class="wrap">
              <div class="col-md-6 col-md-push-3">
                {% if message %}
                  <p class="form-title error" style="color:red;margin-left:8%;">{{message}}</p>
                {%endif%}
              </div>
              </br>
              <div class="form-signin login">
                    {% csrf_token %}
                    {%if idioma == 0%}
                      <h2 class="form-signin-heading text-center">Inicie Sesión</h2>
                      <label for="inputEmail" class="sr-only">Nombre de Usuario</label>
                      <input type="text" id="usernameID" name="username" value="" class="form-control" placeholder="Username" required autofocus/>
                      <label for="inputPassword" class="sr-only">Clave</label>
                      <input type="password" id="passwordID" name="password" value="" class="form-control" placeholder="Password" required autofocus/>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="remember-me"> Recordarme
                        </label>
                      </div>
                      <button class="btn btn-lg btn-primary btn-block" value="login" type="submit" id="loginButton" >Iniciar</button>
                    {%endif%}
                    {%if idioma == 1%}
                      <h2 class="form-signin-heading text-center">Sign in</h2>
                      <label for="inputEmail" class="sr-only">Username</label>
                      <input type="text" id="usernameID" name="username" value="" class="form-control" placeholder="Username" required autofocus/>
                      <label for="inputPassword" class="sr-only">Password</label>
                      <input type="password" id="passwordID" name="password" value="" class="form-control" placeholder="Password" required autofocus/>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="remember-me"> Remember me
                        </label>
                      </div>
                      <button class="btn btn-lg btn-primary btn-block" value="login" type="submit" id="loginButton" >Sign in</button>
                    {%endif%}
              </div>
            </div>
        </div>
    </div> <!-- /container -->

    <!-- Static Modal para procesando -->
    <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <img src="{% static 'images/procesando.gif' %}" class="icon" />
                        <h4>Procesando, por favor espere.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/sweet-alert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}