  {% load staticfiles %}
  
<style>
    @import url({% static 'css/font-awesome.min.css' %});
    body{margin-top:7%;}
    #accordion .glyphicon, .fa{ margin-right:10px; }
    .panel-body { padding:0px; }
    .panel-body table tr td { padding-left: 15px; }
    .panel-body .table {margin-bottom: 0px; }
    #nav-id { position: fixed; top: 13%; left: 0;}
</style>
<div class="col-md-2" id="nav-wrap">
    
    <div id="nav-id" class="col-md-2">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                    </span>Inicio</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="fa fa-clipboard text-primary"></span><a style="color:gray" href="{% url 'Matcher_WS.views.listar_cuentas'%}">Resumen Cuentas</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        {% if 4 in ops %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="fa fa-refresh fa-lg">
                    </span>Proc. Diario</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="fa fa-credit-card fa-lg text-warning"></span><a style="color:gray" href="{% url 'Matcher_WS.views.pd_estadoCuentas'%}">Edo. Cuenta</a>
                            </td>
                        </tr>

                        {% if 2 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-stack-overflow fa-lg"></span><a style="color:gray" href="{% url 'Matcher_WS.views.pd_cargaAutomatica'%}">Carga Automática</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 10 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-pencil-square-o fa-lg"></span><a style="color:gray" href="{% url 'Matcher_WS.views.pd_cargaManual'%}">Carga Manual</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 8 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-cog fa-spin fa-lg"></span><a style="color:gray" href="{% url 'Matcher_WS.views.pd_match'%}">Match</a>
                            </td>
                        </tr>
                        {% endif%}

                        <tr>
                            <td>
                                <span class="fa fa-link fa-lg text-warning"></span><a style="color:gray" href="{% url 'Matcher_WS.views.pd_matchesPropuestos'%}">Matches Propuestos</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="fa fa-chain-broken fa-lg text-danger"></span><a style="color:gray" href="{% url 'Matcher_WS.views.pd_partidasAbiertas'%}">Partidas Abiertas</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fa fa-check-circle-o fa-lg text-success"></span><a style="color:gray" href="{% url 'Matcher_WS.views.pd_matchesConfirmados'%}">Matches Confirmados</a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <span class="fa fa-file-text-o fa-lg"></span><a style="color:gray" href="{% url 'Matcher_WS.views.pd_conciliacion'%}">Reporte Conciliación</a>
                            </td>
                        </tr>
                        

                    </table>
                </div>
            </div>
        </div>
        {%endif%}

        {% if 33 in ops or 35 in ops or 36 in ops or 30 in ops or 1 in ops or 3 in ops or 4 in ops%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-parent="#accordion" href="{% url 'Matcher_WS.views.reportes'%}"><span class="fa fa-bar-chart-o">
                    </span>Reportes</a>
                </h4>
            </div>
        </div>
        {%endif%}

        {% if 22 in ops or 25 in ops%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="fa fa-envelope">
                    </span>MT SWIFT</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        {% if 25 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-envelope-o text-primary"></span><a style="color:gray" href="{% url 'Matcher_WS.views.mtn96'%}">MT96</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 22 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-envelope-o text-primary"></span><a style="color:gray" href="{% url 'Matcher_WS.views.mtn99'%}">MT99</a>
                            </td>
                        </tr>
                        {%endif%}
                    </table>
                </div>
            </div>
        </div>
        {%endif%}

        {% if 22 in ops or 25 in ops%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-parent="#accordion" href="{% url 'Matcher_WS.views.intraday'%}"><span class="fa fa-list-alt">
                    </span>INTRADAY</a>
                </h4>
            </div>
        </div>
        {%endif%}

        {% if 29 in ops or 11 in ops or 34 in ops%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="fa fa-cogs">
                    </span>Configuración</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        {% if 29 in ops or 11 in ops%}
                        <tr>
                            <td>
                                <span class="fa fa-wrench text-primary"></span><a style="color:gray" href="{% url 'Matcher_WS.views.configuracion' 'sis' %}">Conf. Sistema</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 34 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-folder-open text-warning"></span><a style="color:gray" href="{% url 'Matcher_WS.views.configuracion' 'arc'  %}">Formato Archivo</a>
                            </td>
                        </tr>
                        {%endif%}
                    </table>
                </div>
            </div>
        </div>
        {%endif%}


        {% if 14 in ops or 31 in ops or 32 in ops or 27 in ops or 5 in ops or 24 in ops or 18 in ops%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="fa fa-lock fa-lg">
                    </span>Seguridad</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        {% if 14 in ops or 31 in ops or 32 in ops or 27 in ops%}
                        <tr>
                            <td>
                                <span class="fa fa-users fa-lg text-primary"></span><a style="color:gray" href="{% url 'Matcher_WS.views.seg_Usuarios'%}">Usuarios</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 5 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-th-list fa-lg text-primary"></span><a style="color:gray" href="{% url 'Matcher_WS.views.seg_Perfiles'%}">Perfiles</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 24 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-book fa-lg text-warning"></span><a style="color:gray" href="{% url 'Matcher_WS.views.seg_Logs'%}">Logs</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 18 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-exclamation-triangle fa-lg text-danger"></span><a style="color:gray" href="{% url 'Matcher_WS.views.seg_backupRestore'%}">Backup/Restore</a>
                            </td>
                        </tr>
                        {% endif %}

                    </table>
                </div>
            </div>
        </div>
        {%endif%}

        {% if 21 in ops or 28 in ops or 19 in ops or 15 in ops or 23 in ops or 16 in ops or 17 in ops or 6 in ops or 7 in ops or 12 in ops%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><span class="fa fa-user">
                    </span>Administración</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        {% if 21 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-building-o fa-lg text-info"></span><a style="color:gray" href="{% url 'Matcher_WS.views.admin_bancos'%}">Bancos</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 28 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-money fa-lg text-success"></span><a style="color:gray" href="{% url 'Matcher_WS.views.admin_monedas'%}">Monedas</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 23 in ops or 17 in ops or 6 in ops or 7 in ops or 12 in ops%}
                        <tr>
                            <td>
                                <span class="fa fa-suitcase fa-lg text-warning"></span><a style="color:gray" href="{% url 'Matcher_WS.views.admin_cuentas'%}">Cuentas</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 19 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-retweet fa-lg text-info"></span><a style="color:gray" href="{% url 'Matcher_WS.views.admin_reglas_transf'%}">Reglas de Transformación</a>
                            </td>
                        </tr>
                        {%endif%}

                        {% if 15 in ops %}
                        <tr>
                            <td>
                                <span class="fa fa-key fa-lg text-warning"></span><a style="color:gray" href="{% url 'Matcher_WS.views.admin_crit_reglas'%}">Criterios y reglas del Sistema</a>
                            </td>
                        </tr>
                        {%endif%}
                    </table>
                </div>
            </div>
        </div>
        {%endif%}

        {% if 78 in ops%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseBCG"><span class="fa fa-group">
                    </span>BCG</a>
                </h4>
            </div>
            <div id="collapseBCG" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="fa fa-signal fa-lg text-success"></span><a style="color:gray" href="{% url 'Matcher_WS.views.SU_status'%}">Status</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="fa fa-credit-card fa-lg text-info"></span><a style="color:gray" href="{% url 'Matcher_WS.views.SU_licencia'%}">Licencia</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="fa fa-sitemap fa-lg text-danger"></span><a style="color:gray" href="{% url 'Matcher_WS.views.SU_modulos'%}">Módulos</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="fa fa-legal fa-lg text-warning"></span><a style="color:gray" href="{% url 'Matcher_WS.views.SU_version'%}">Versión</a>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        {%endif%}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight"><span class="fa fa-question-circle">
                    </span>Ayuda</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="fa fa-desktop fa-lg text-primary"></span><a style="color:gray" href="{% url 'Matcher_WS.views.manual_sistema'%}">Manual Sistema</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fa fa-file-text fa-lg text-primary"></span><a style="color:gray" href="{% url 'Matcher_WS.views.manual_usuario'%}">Manual de Usuario</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fa fa-adn fa-lg text-primary"></span><a style="color:gray" href="{% url 'Matcher_WS.views.sobre_matcher'%}">Acerca de Matcher</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-parent="#accordion" href="{% url 'Matcher_WS.views.usr_logout'%}"><span class="fa fa-sign-out">
                    </span>Logout</a>
                </h4>
            </div>
        </div>
    </div>
    <img src="../static/images/logobcgp.gif" width="182" height="100">
    </div>

</div>