{% extends "matcher/base.html" %}

{% load staticfiles %}

{% block title %}Carga Automatica{% endblock %}

{%block head%}
<!-- No hace falta cargar dataTables.css original si se incluye el de bootstrap -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'css/procesando.css' %}">
<style>
.archivos {
    width: 17em;
    height: 20em;
    line-height: 2em;
    border: 1px solid #ccc;
    padding: 1em;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
}

li {
    display:table-row;
}
</style>
{%endblock%}

{% block content %}
<input type="text" id="idioma" value="{{idioma}}" hidden/>
<div class="well col-md-5">
  <legend>
    {%if idioma == 0%}
      Contabilidad
    {%endif%}
    {%if idioma == 1%}
      Accounting
    {%endif%}
  </legend>

  <div class="col-md-5">
    <ul class="archivos">
      {% for archivo in filenames_conta %}
      <li class="archivo conta" id="con-{{archivo}}" name="{{archivo}}">{{archivo}}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-7 col-md-push-3">
    <div>
        <button type="button" id="prevContaButton" data-loading-text="Cargando..." class="col-md-7 btn btn-primary" autocomplete="off">
            {%if idioma == 0%}
              Previsualizar
            {%endif%}
            {%if idioma == 1%}
              Preview
            {%endif%}
        </button>
    </div>
  </div>
</div>

<div class="col-md-1"></div>

<div class="well col-md-5">
  <legend>
    {%if idioma == 0%}
      Corresponsal
    {%endif%}
    {%if idioma == 1%}
      Correspondent
    {%endif%}
  </legend>

  <div class="col-md-5">
    <ul class="archivos">
      {% for archivo in filenames_corr %}
      <li class="archivo corr" id="corr-{{archivo}}" name="{{archivo}}">{{archivo}}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-7 col-md-push-3">
    <div>
        <button type="button" id="prevCorrButton" data-loading-text="Cargando..." class="col-md-7 btn btn-primary" autocomplete="off">
            {%if idioma == 0%}
              Previsualizar
            {%endif%}
            {%if idioma == 1%}
              Preview
            {%endif%}
        </button>
    </div>
  </div>
</div>

</br>


<div class="well table-responsive col-md-12">
<legend>
  {%if idioma == 0%}
    Detalles:
  {%endif%}
  {%if idioma == 1%}
    Details:
  {%endif%}
</legend>
    <table id="table-edc" class="table table-bordered table-striped tabla">
        <thead>
            <tr>
              {%if idioma == 0%}
                <th>Código Cuenta</th>
                <th>Origen</th>
                <th>Edo. Cuenta</th>
                <th>Página</th>
                <th>Saldo Inicial</th>
                <th>Saldo Final</th>
              {%endif%}
              {%if idioma == 1%}
                <th>Account Code</th>
                <th>Source</th>
                <th>Acc. Statemet</th>
                <th>Page</th>
                <th>Initial Balance</th>
                <th>Final Balance</th>
              {%endif%}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="well table-responsive col-md-12">
  <legend>
    {%if idioma == 0%}
     Detalles Transacciones:
    {%endif%}
    {%if idioma == 1%}
      Transactions Details:
    {%endif%}
  </legend>
    <table id="table-detalle" class="table table-bordered table-striped tabla">
        <thead>
            <tr>
              {%if idioma == 0%}
                <th>Edo. Cuenta</th>
                <th>Num. Trans</th>
                <th>Fecha Valor</th>
                <th>C/D</th>
                <th>Monto</th>
                <th>Tipo</th>
                <th>Ref Nostro</th>
                <th>Ref Vostro</th>
                <th>Descripcion</th>
              {%endif%}
              {%if idioma == 1%}
                <th>Acc. Statement</th>
                <th>Trans. No.</th>
                <th>Value Date</th>
                <th>C/D</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Nostro Ref.</th>
                <th>Vostro Ref.</th>
                <th>Description</th>
              {%endif%}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  <div class="col-md-3 pull-right">
    <div>
        <button type="button" id="confButton" data-loading-text="Cargando..." class="col-md-7 btn btn-primary" autocomplete="off">
            {%if idioma == 0%}
             Confirmar
            {%endif%}
            {%if idioma == 1%}
              Confirm
            {%endif%}
        </button>
    </div>
  </div>
</div>


<!-- Static Modal para procesando -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="{% static 'images/procesando.gif' %}" class="icon" />
                    {%if idioma == 0%}
                      <h4>Procesando, por favor espere.</h4>
                    {%endif%}
                    {%if idioma == 1%}
                      <h4>Processing, wait please.</h4>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script%}
<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/sweet-alert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jshashtable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/numberformatter.js' %}"></script>
<script src="{% static 'js/pd_cargaAutomatica.js' %}"></script>
{% endblock %}