{% extends "matcher/base.html" %}

{% load staticfiles %}

{% block title %}Carga Manual{% endblock %}

{%block head%}
<!-- No hace falta cargar dataTables.css original si se incluye el de bootstrap -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-form-validation/jquery.validation.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'css/procesando.css' %}">
<link rel="stylesheet" href="{% static 'css/picker.css' %}">
<link rel="stylesheet" href="{% static 'css/picker.date.css' %}">
{%endblock%}

{% block content %}
<input type="text" id="idioma" value="{{idioma}}" hidden/>
<style> form {padding-bottom: 1%;} #table-div-conta, #table-div-corr {padding-top: 1%;}</style>



<form class="form-inline">
  <legend><h2>
    {%if idioma == 0%}
      Carga Manual
    {%endif%}
    {%if idioma == 1%}
      Manual Input
    {%endif%}
  </h2></legend> 
<fieldset>
    <div class="row clearfix">
      <!-- Select Basic -->
      <div class="form-group col-md-3 ">
        <label class="control-label" for="Cuenta-sel">
          {%if idioma == 0%}
            Código Cuenta
          {%endif%}
          {%if idioma == 1%}
            Account Code
          {%endif%}
        </label>
        <div>
          <select id="Cuenta-sel" name="Cuenta-sel" class="form-control">
            <option value="-1">----------</option>
            {% for cuenta in cuentas %}
            <option id="opt-{{cuenta.idcuenta}}" value="{{cuenta.idcuenta}}" moneda="{{cuenta.moneda_idmoneda.codigo}}" banco= "{{cuenta.banco_corresponsal_idbanco.codigo}}" cv="{{cuenta.ref_vostro}}" cn="{{cuenta.ref_nostro}}">{{cuenta.codigo}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group col-md-4">
        <label class="control-label" for="cta_nostro">
          {%if idioma == 0%}
            No. Cta. Nostro:
          {%endif%}
          {%if idioma == 1%}
            Nostro Acc. No.:
          {%endif%}
        </label>  
        <div>
        <input id="cta_nostro" name="cta_nostro" type="text" placeholder="" class="form-control input-md" style="width:80%" readonly>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group col-md-4">
        <label class="control-label" for="cta_vostro">
          {%if idioma == 0%}
            No. Cta. Vostro:
          {%endif%}
          {%if idioma == 1%}
            Vostro Acc. No.:
          {%endif%}
        </label>  
        <div>
        <input id="cta_vostro" name="cta_vostro" type="text" placeholder="" class="form-control input-md" style="width:80%" readonly>

        </div>
      </div>
    </div>
    
    <div class="row clearfix">
      <div class="form-group col-md-3">
        <label class="control-label" for="banco">
          {%if idioma == 0%}
            Banco:
          {%endif%}
          {%if idioma == 1%}
            Bank:
          {%endif%}
        </label>  
        <div>
        <input id="banco" name="banco" type="text" placeholder="" class="form-control input-md" style="width:80%" readonly>
        </div>
      </div>
      <br>
      <div id="selector_cuenta">
        <div class="form-group col-md-2"> 
          <label class="radio-inline">
            <input type="radio" name="radiocuenta" id="cont-radio" value="C">
            {%if idioma == 0%}
              Contabilidad
            {%endif%}
            {%if idioma == 1%}
              Accounting
            {%endif%}
          </label> 
        </div>
        <div class="form-group col-md-2"> 
          <label class="radio-inline">
            <input type="radio" name="radiocuenta" id="corr-radio" value="S">
            {%if idioma == 0%}
              Corresponsal
            {%endif%}
            {%if idioma == 1%}
              Correspondent
            {%endif%}
          </label>
        </div>
      </div>
      <div class="form-group col-md-3">
      <button type="button" id="boton-nuevo" data-loading-text="Cargando..." class="col-md-5 btn btn-primary" autocomplete="off">
        {%if idioma == 0%}
          Nuevo
        {%endif%}
        {%if idioma == 1%}
          New
        {%endif%}
      </button>
    </div>
  </div>
</fieldset>
</form>

<!-- Form Final -->
<form class="form-inline">
<fieldset>

<!-- Form Name -->
<legend>
  {%if idioma == 0%}
    Último Edo. Cuenta
  {%endif%}
  {%if idioma == 1%}
    Last Acc. Statement
  {%endif%}
</legend>
<div class="row clearfix">
  <div class="col-md-12">

    <!-- Text input-->
    <div class="form-group col-md-3">
      <label class="control-label" for="edo-cuenta">
        {%if idioma == 0%}
          Edo. Cuenta:
        {%endif%}
        {%if idioma == 1%}
          Acc. Statement:
        {%endif%}
      </label>  
      <div>
        <input id="edo-cuenta" name="edo-cuenta" type="text" placeholder="" class="form-control input-md" readonly>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group col-md-3">
      <label class="control-label" for="fecha-manual">
        {%if idioma == 0%}
          Fecha:
        {%endif%}
        {%if idioma == 1%}
          Date:
        {%endif%}
      </label>  
      <div>
      <input id="fecha-manual" name="fecha-manual" type="text" placeholder="" class="form-control input-md" readonly>
      </div>
    </div>

    <!-- Prepended text-->
    <div class="form-group col-md-3">
      <label class="control-label" for="saldo-manual">
        {%if idioma == 0%}
          Saldo Inicial:
        {%endif%}
        {%if idioma == 1%}
          Initial Balance:
        {%endif%}
      </label>
      <div>
        <div class="input-group">
          <span id="saldo-manual-cd" class="input-group-addon"></span>
          <span id="saldo-manual-moneda" class="input-group-addon"></span>
          <input id="saldo-manual" name="saldo-manual" class="form-control" placeholder="" type="text" readonly>
          <span id="ffinal" class="input-group-addon hidden"></span>
         
        </div>
      </div>
    </div>
  </div>
</div>


</fieldset>
</form>

<!-- Form Final -->
<form class="form-inline">
<fieldset>

<!-- Form Name -->
<legend><h2>
  {%if idioma == 0%}
    Nuevo Edo. Cuenta:
  {%endif%}
  {%if idioma == 1%}
    New Acc. Statement:
  {%endif%}
</h2></legend>
<div class="row clearfix">
  <div class="col-md-12">

    <!-- Text input-->
    <div class="form-group col-md-3">
      <label class="control-label" for="edo-cuenta-nuevo">
        {%if idioma == 0%}
          Edo. Cuenta:
        {%endif%}
        {%if idioma == 1%}
          Acc. Statement:
        {%endif%}
      </label>   
        <div class="input-group">
          <input id="edo-cuenta-nuevo" name="edo-cuenta-nuevo" type="text" placeholder="" class="form-control input-md" maxlength="18" onkeypress='return solonumero(event)' onkeyup='return solonumero(event)' readonly>
          <span class="input-group-addon">/</span>
          <span id="paginas-nuevo" class="input-group-addon"></span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group col-md-3">
      <label class="control-label" for="fecha-manual-nuevo1">
        {%if idioma == 0%}
          Fecha Inicial:
        {%endif%}
        {%if idioma == 1%}
          Initial Date:
        {%endif%}
      </label>  
      <div id ="fmn1">
      <input id="fecha-manual-nuevo1" name="fecha-manual-nuevo1" type="text" placeholder="" class="form-control input-md" readonly>
      </div>
    </div>

    <!-- Prepended text-->
    <div class="form-group col-md-4">
      <label class="datepicker" for="saldo-manual-nuevo1">
        {%if idioma == 0%}
          Saldo Inicial:
        {%endif%}
        {%if idioma == 1%}
          Initial Balance:
        {%endif%}
      </label>
      <div>
        <div id="after" class="input-group">
          <span id="saldo-manual-cd-nuevo1" class="input-group-addon"></span>
          <span id="saldo-manual-moneda-nuevo1" class="input-group-addon"></span>
          <input id="saldo-manual-nuevo1" name="saldo-manual-nuevo1" class="form-control" placeholder="" type="text" onkeypress='return numero(event)' onkeyup='return numero(event)' readonly>
          <span id="f-nuevo-ini" class="input-group-addon"></span>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-md-12">

    <!-- Text input-->
    <div class="form-group col-md-3">
    </div>

    <!-- Text input-->
    <div class="form-group col-md-3">
      <label class="control-label" for="fecha-manual-nuevo2">
        {%if idioma == 0%}
          Fecha Final:
        {%endif%}
        {%if idioma == 1%}
          Final Date:
        {%endif%}
      </label>  
      <div id ="fmn2">
      <input id="fecha-manual-nuevo2" name="fecha-manual-nuevo2" type="text" placeholder="" class="form-control input-md" readonly>
      </div>
    </div>

    <!-- Prepended text-->
    <div class="form-group col-md-4">
      <label class="control-label" for="saldo-manual-nuevo2">
        {%if idioma == 0%}
          Saldo Final:
        {%endif%}
        {%if idioma == 1%}
          Final Balance:
        {%endif%}
      </label>
      <div>
        <div class="input-group">
          <span id="saldo-manual-cd-nuevo2" class="input-group-addon"></span>
          <span id="saldo-manual-moneda-nuevo2" class="input-group-addon"></span>
          <input id="saldo-manual-nuevo2" name="saldo-manual-nuevo1" class="form-control" placeholder="" type="text" onkeypress='return numero(event)' onkeyup='return numero(event)' readonly>
          <span id="f-nuevo-fin" class="input-group-addon"></span>
          
        </div>
      </div>
    </div>
  </div>
</div>


</fieldset>
</form>

<!-- Form Final -->
<form class="form-inline">
<fieldset>

<!-- Form Name -->
<legend>
  {%if idioma == 0%}
    Nueva Transacción
  {%endif%}
  {%if idioma == 1%}
    New Trasaction
  {%endif%}
</legend>
<div class="row clearfix">
  <div class="col-md-12">

    <!-- Text input-->
    <div class="form-group col-md-2">
      <label class="control-label">
        {%if idioma == 0%}
          Fecha Valor:
        {%endif%}
        {%if idioma == 1%}
          Value Date:
        {%endif%}
      </label>
      <div>
        <input id="fecha-valor" class="form-control" style="width:80%;background-color:white">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group col-md-2">
      <label class="control-label">
        {%if idioma == 0%}
          Fecha Entr.:
        {%endif%}
        {%if idioma == 1%}
          In Date:
        {%endif%}
      </label>
      <div>
        <input  id="fecha-entrada" class="form-control" style="width:80%;background-color:white">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group col-md-1">
      <label class="control-label">C/D:</label>
      <div>
        <select id="selector-cd" name="selector-cd" class="form-control">
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="RC">RC</option>
          <option value="RD">RD</option>
          
        </select>
      </div>
    </div>

    <div class="form-group col-md-2">
      <label class="control-label">
        {%if idioma == 0%}
          Monto:
        {%endif%}
        {%if idioma == 1%}
          Amount:
        {%endif%}
      <span></span></label>
      <div>
        <input onkeypress='return numero(event)' onkeyup='return numero(event)' id="monto-tran" class="form-control" style="width:90%">
      </div>
    </div>

    <div class="form-group col-md-2">
      <label class="control-label">
        {%if idioma == 0%}
          Tipo:
        {%endif%}
        {%if idioma == 1%}
          Type:
        {%endif%}
      </label>
      <div>
        <input id="tipo-tran" class="form-control" style="width:80%" maxlength="4">
      </div>
    </div>
    <br>
    <div class="form-group col-md-3">
      <a href="#tabla-detalle"><button type="button" id="boton-agregar" data-loading-text="Cargando..." class="col-md-5 btn btn-primary" autocomplete="off" >
        {%if idioma == 0%}
          Agregar
        {%endif%}
        {%if idioma == 1%}
          Add
        {%endif%}
      </button></a>
    </div>
    
    
  </div>
</div>

<div class="row clearfix">
  <div class="col-md-12">
    <div class="form-group col-md-3">
      <label class="control-label">
        {%if idioma == 0%}
          Ref. Nostro:
        {%endif%}
        {%if idioma == 1%}
          Nostro Ref.:
        {%endif%}
      </label>
      <div>
        <input id="nostro-tran" class="form-control" style="width:80%" maxlength="16">
      </div>
    </div>

    <div class="form-group col-md-3">
      <label class="control-label">
        {%if idioma == 0%}
          Ref. Vostro:
        {%endif%}
        {%if idioma == 1%}
          Vostro Ref.:
        {%endif%}
      </label>
      <div>
        <input id="vostro-tran" class="form-control" style="width:80%" maxlength="16">
      </div>
    </div>

    <div class="form-group col-md-3">
      <label class="control-label">
        {%if idioma == 0%}
          Detalle:
        {%endif%}
        {%if idioma == 1%}
          Details:
        {%endif%}
      </label>
      <div>
        <input id="detalle-tran" class="form-control" style="width:80%" maxlength="34">
      </div>
    </div>
  </div>
</div>
<br>


</fieldset>
</form >

<!--Tabla--> 
<legend style="color:#2e6da4">
  {%if idioma == 0%}
    Detalles Transacciones:
  {%endif%}
  {%if idioma == 1%}
    Transactions Details:
  {%endif%}
</legend>

<div ="row" id="tabla-detalle">
  <div style="padding-bottom:1%;" class="col-md-3 pull-right">
  </div>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="conta-tab">
        <div id="table-div-conta" class="table-responsive col-md-12">
            <table id="table-conta" class="table table-bordered table-striped tabla">
                <thead>
                    <tr>
                      {%if idioma == 0%}
                        <th>Edo. Cuenta</th>
                        <th>Num.Trans</th>
                        <th>Fecha Valor</th>
                        <th>C/D</th>
                        <th>Monto</th>
                        <th>Tipo</th>
                        <th>Ref Nostro</th>
                        <th>Ref Vostro</th>
                        <th>Descripción</th>
                      {%endif%}
                      {%if idioma == 1%}
                        <th>Acc. Statement</th>
                        <th>Trans No.</th>
                        <th>Value Date</th>
                        <th>C/D</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Nostro Ref.</th>
                        <th>Vostro Ref.</th>
                        <th>Description</th>
                      {%endif%}
                    </tr>
                </thead>
                <tbody id="tb-conta">
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="form-group col-md-3">
      <a href="#tabla-detalle"><button type="button" id="boton-procesar" data-loading-text="Cargando..." class="col-md-5 btn btn-success" autocomplete="off" >
        {%if idioma == 0%}
          Procesar
        {%endif%}
        {%if idioma == 1%}
          Process
        {%endif%}
      </button></a>
    </div>

<!-- Static Modal para procesando -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="{% static 'images/procesando.gif' %}" class="icon" />
                    {%if idioma == 0%}
                      <h4>Procesando, por favor espere.</h4>
                    {%endif%}
                    {%if idioma == 1%}
                      <h4>Processing, wait please.</h4>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>

<input id="elim-data" modo="" cod="-1" eid="-1" hidden>
{% endblock %}

{% block script%}
<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-form-validation/jquery.validation.min.js' %}"></script>
<script src="{% static 'js/sweet-alert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/picker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/picker.date.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pickerlegacy.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jshashtable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/numberformatter.js' %}"></script>
<script src="{% static 'js/pd_cargaManual.js' %}" type="text/javascript"></script>
{% endblock %}