{% extends "matcher/base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block title %}Detalles MTn95MTn96/{% endblock %}

{%block head%}
<!-- No hace falta cargar dataTables.css original si se incluye el de bootstrap -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.scroller.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'css/procesando.css' %}">
<link rel="stylesheet" href="{% static 'css/picker.css' %}">
<link rel="stylesheet" href="{% static 'css/picker.date.css' %}">
{%endblock%}

{% block content %}
<input type="text" id="idioma" value="{{idioma}}" hidden/>
<legend>
    {%if idioma == 0%}
        Mensajes MTn95/MTn96 de la transacción {{mensaje}}
    {%endif%}
    {%if idioma == 1%}
        Transaction {{mensaje}} MTn95/MTn96 Messages 
    {%endif%}
</legend>
<div id="MT95-verMT" style="display: block;">
  <div class="well table-responsive col-md-12">
<legend>MTn95</legend>
    <table id="table-mtn95" class="table table-bordered table-striped tabla">
        <thead>
            <tr>
                {%if idioma == 0%}
                    <th>MT</th>
                    <th>Fecha Msj. Original</th>
                    <th>Ref. Mensaje</th>
                    <th>Ref. Msj Original</th>
                    <th>Pregunta SWIFT</th>
                    <th>Narrativa</th>
                    <th>Desc. Msj. Original</th>
                {%endif%}
                {%if idioma == 1%}
                    <th>MT</th>
                    <th>Original Mes. Date</th>
                    <th>Message Ref.</th>
                    <th>Original Mes. Ref.</th>
                    <th>SWIFT Query</th>
                    <th>Narrative</th>
                    <th>Original Mes. Description</th>
                {%endif%}
        </thead>
        <tbody id="tb-mtn95">
            {% for men in mensajes95 %}
                <tr>
                    <td>
                        {% if men.num_mt == None %}
                        {%endif%}
                        {% if men.num_mt != None %}
                            {{men.num_mt}}
                        {%endif%}
                    </td>
                    <td>
                        {% if men.fecha_msg_original == None %}
                        {%endif%}
                        {% if men.fecha_msg_original != None %}
                            {%if idioma == 1%}
                                {{men.fecha_msg_original|date:"Y/m/d"}}
                            {%endif%}
                            {%if idioma == 0%}
                                {{men.fecha_msg_original|date:"d/m/Y"}}
                            {%endif%}
                        {%endif%}
                    </td>
                    <td>{{men.codigo}}</td>
                    <td>{{men.ref_relacion}}</td>
                    <td>{{men.query}}</td>
                    <td>{{men.narrativa}}</td>
                    <td>
                        {% if men.campo79 == None %}
                        {%endif%}
                        {% if men.campo79 != None %}
                            {{men.campo79}}
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="well table-responsive col-md-12">
  <legend>MTn96</legend>
    <table id="table-mtn96" class="table table-bordered table-striped tabla">
        <thead>
            <tr>
                {%if idioma == 0%}
                    <th>MT</th>
                    <th>Fecha Msj. Original</th>
                    <th>Ref. Mensaje</th>
                    <th>Ref. Msj Original</th>
                    <th>Respuesta SWIFT</th>
                    <th>Narrativa</th>
                    <th>Desc. Msj. Original</th>
                {%endif%}
                {%if idioma == 1%}
                    <th>MT</th>
                    <th>Original Mes. Date</th>
                    <th>Message Ref.</th>
                    <th>Original Mes. Ref.</th>
                    <th>SWIFT Response</th>
                    <th>Narrative</th>
                    <th>Original Mes. Description</th>
                {%endif%}
        </thead>
        <tbody id="tb-mtn96">
            {% for men in mensajes96 %}
                <tr>
                    <td>
                        {% if men.num_mt == None %}
                        {%endif%}
                        {% if men.num_mt != None %}
                            {{men.num_mt}}
                        {%endif%}
                    </td>
                    <td>
                        {% if men.fecha_msg_original == None %}
                        {%endif%}
                        {% if men.fecha_msg_original != None %}
                            {%if idioma == 1%}
                                {{men.fecha_msg_original|date:"Y/m/d"}}
                            {%endif%}
                            {%if idioma == 0%}
                                {{men.fecha_msg_original|date:"d/m/Y"}}
                            {%endif%}
                        {%endif%}
                    </td>
                    <td>{{men.codigo}}</td>
                    <td>{{men.ref_relacion}}</td>
                    <td>{{men.answer}}</td>
                    <td>{{men.narrativa}}</td>
                    <td>
                        {% if men.campo79 == None %}
                        {%endif%}
                        {% if men.campo79 != None %}
                            {{men.campo79}}
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="regresarMT" style="display: none;">
<div class="col-md-7" align="rigth">
    <button type="button" id="regresarVerMT" style="align:right" class="col-md-3 btn btn-warning">
      <-- Regresar
    </button>
  </div>
</div>

<!-- Static Modal para procesando -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="{% static 'images/procesando.gif' %}" class="icon" />
                    {%if idioma == 0%}
                      <h4>Procesando, por favor espere.</h4>
                    {%endif%}
                    {%if idioma == 1%}
                      <h4>Processing, wait please.</h4>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script%}
<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.scroller.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/sweet-alert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jshashtable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/numberformatter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/picker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/picker.date.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pickerlegacy.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pd_detallesMT.js' %}"></script>
<script type="text/javascript">
</script>
{% endblock %}