{% extends "matcher/base.html" %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'css/dual_list.css' %}">
{% endblock%}

{% block content %}

<style type="text/css">
#detalleusuarioForm {
    margin-top: 15px;
}

.scrollDiv
{
  margin-top: 5%;
  height:150px;
  overflow-y:auto;
  overflow-x:hidden;
}
</style>
<input type="text" id="idioma" value="{{idioma}}" hidden/>
<legend>
    {%if idioma == 0%}
        Manejo de Usuarios
    {%endif%}
    {%if idioma == 1%}
        Users Configuration
    {%endif%}
</legend>
<div class="table-responsive col-md-9">
    <table id="table-usuarios" class="table table-bordered table-striped tabla">
        <thead>
            <tr>
              {%if idioma == 0%}
                <th>Nombre de Usuario</th>
                <th>Usuario</th>
                <th>Perfil</th>
                <th>Estado</th>
                <th>Conexión</th>
              {%endif%}
              {%if idioma == 1%}
                <th>User Name</th>
                <th>User</th>
                <th>Profile</th>
                <th>Status</th>
                <th>Conection</th>
              {%endif%}
            </tr>
        </thead>
        <tbody>
            {% for sesion in sesiones %}
              {% if sesion.estado != "Inactivo" %}
                <tr id= "tr-{{sesion.idsesion}}">
                    <td id= "td-{{sesion.idsesion}}"><a ci="{{sesion.usuario_idusuario.ci}}" id="{{sesion.idsesion}}" nombres="{{sesion.usuario_idusuario.nombres}}" apellidos="{{sesion.usuario_idusuario.apellidos}}" tlf="{{sesion.usuario_idusuario.telefono}}" correo="{{sesion.usuario_idusuario.mail}}" dir="{{sesion.usuario_idusuario.direccion}}" estado="{{sesion.estado}}" conexion="{{sesion.conexion}}" ldap="{{sesion.ldap}}" login="{{sesion.login}}" perf="{{sesion.usuario_idusuario.perfil_idperfil.idperfil}}" obs="{{sesion.usuario_idusuario.observaciones}}" usr="{{sesion.usuario_idusuario.idusuario}}" type="usuario">{{sesion.login}}</a></td>
                    <td>{{ sesion.usuario_idusuario.apellidos|default:"" }}, {{ sesion.usuario_idusuario.nombres|default:"" }}</td>
                    <td>{{ sesion.usuario_idusuario.perfil_idperfil.nombre|default:"" }}</td>
                    {%if idioma == 0%}
                      <td>{{ sesion.estado|default:"" }}</td>
                    {%endif%}
                    {%if idioma == 1%}
                      {% if sesion.estado == "Activo"%}
                        <td>Active</td>
                      {%endif%}
                      {% if sesion.estado == "Pendiente"%}
                        <td>Pending</td>
                      {%endif%}
                      {% if sesion.estado == "Bloqueado"%}
                        <td>Locked</td>
                      {%endif%}
                    {%endif%}
                    {% if sesion.conexion|add:"0" != 1 %}
                      <td>Logout</td>
                    {% else %}
                      <td>Login</td>
                    {% endif %}
                </tr>
              {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <hr/><br/>
</div>
{% if 31 in ops %}
  <div class="col-md-3">
      <button type="button" id="addButton" data-loading-text="Cargando..." class="col-md-5 btn btn-success" autocomplete="off" data-toggle="modal" data-target="#add-banco-modal">
        {%if idioma == 0%}
          Agregar
        {%endif%}
        {%if idioma == 1%}
          Add
        {%endif%}
      </button>
      
  </div>
  <div style="padding-top:1%;" class="col-md-3">

      <button type="button" id="delButton" data-loading-text="Cargando..." class="col-md-5 btn btn-danger" autocomplete="off">
        {%if idioma == 0%}
          Eliminar
        {%endif%}
        {%if idioma == 1%}
          Delete
        {%endif%}
      </button>
  </div>
{% endif %}
<div style="padding-top:1%;" class="col-md-3">
    {% if 14 in ops or 32 in ops%}
    <button type="button" id="updButton" data-loading-text="Cargando..." class="col-md-5 btn btn-primary" autocomplete="off">
      {%if idioma == 0%}
        Modificar
      {%endif%}
      {%if idioma == 1%}
        Modify
      {%endif%}
    </button>
    {% endif %}
</br>
</br>
</br>
</br>
</br>
</br>
</div>

<div style="padding-top:1%;" class="col-md-3">
    <button type="button" id="desbButton" data-loading-text="Cargando..." class="col-md-6 btn btn-warning" autocomplete="off">
      {%if idioma == 0%}
        Desbloquear
      {%endif%}
      {%if idioma == 1%}
        Unlock
      {%endif%}
    </button>
</div>
<div style="padding-top:1%;" class="col-md-3">
    <button type="button" id="logoutButton" data-loading-text="Cargando..." class="col-md-6 btn btn-warning" autocomplete="off">
      {%if idioma == 0%}
        Cerrar Sesión
      {%endif%}
      {%if idioma == 1%}
        Logout
      {%endif%}
    </button>
</div>

<input id="Id_usuario" name="Id_usuario" value="-1" type="text" hidden>

<div class="row">
  <div class="col-md-6">
    <legend>
      {%if idioma == 0%}
        Detalles:
      {%endif%}
      {% if idioma == 1%}
        Details:
      {%endif%}
    </legend>
  </div>
  <div class="col-md-2 col-md-push-2" hidden>
      <button type="button" name="Aceptar" id="acptButton" data-loading-text="Cargando..." class="col-md-7 btn btn-info" autocomplete="off">
        {%if idioma == 0%}
          Aceptar
        {%endif%}
        {% if idioma == 1%}
          Accept
        {%endif%}
      </button>
  </div>
  <div class="col-md-2 col-md-push-1" hidden>
      <button type="button" name="Cancelar" id="cancelButton" data-loading-text="Cargando..." class="col-md-7 btn btn-default" autocomplete="off">
        {%if idioma == 0%}
          Cancelar
        {%endif%}
        {% if idioma == 1%}
          Cancel
        {%endif%}
      </button>
  </div>
</div>

<div class="well col-md-5">
  <ul class="nav nav-tabs" id="seg-tab">
      <li class="active"><a href="#datosp-tab" data-toggle="tab">
        {%if idioma == 0%}
          Datos Personales
        {%endif%}
        {% if idioma == 1%}
          Person Information
        {%endif%}
      <i class="fa"></i></a></li>
  </ul>
  <form id="detalleusuarioForm" method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="tab-content">
          <div class="tab-pane active" id="datosp-tab">
            <div class="form-group">
                <label class="col-xs-4 control-label">
                  {%if idioma == 0%}
                    Nombre:
                  {%endif%}
                  {% if idioma == 1%}
                    Name:
                  {%endif%}
                </label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="usuario-nom" value="" name="nomusuario" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">
                  {%if idioma == 0%}
                    Apellidos:
                  {%endif%}
                  {% if idioma == 1%}
                    Last Name:
                  {%endif%}
                </label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" value="" id="usuario-apell" name="apell" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">
                  {%if idioma == 0%}
                    C.I:
                  {%endif%}
                  {% if idioma == 1%}
                    ID:
                  {%endif%}
                </label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" value="" id="usuario-ci" name="ci" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">
                  {%if idioma == 0%}
                    Teléfono:
                  {%endif%}
                  {% if idioma == 1%}
                    Phone Number:
                  {%endif%}
                </label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" value="" id="usuario-tlf" name="tlf" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">
                  {%if idioma == 0%}
                    Correo:
                  {%endif%}
                  {% if idioma == 1%}
                    Email:
                  {%endif%}
                </label>
                <div class="col-xs-8">
                    <input type="mail" class="form-control" value="" id="usuario-mail" name="mail" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">
                  {%if idioma == 0%}
                    Dirección:
                  {%endif%}
                  {% if idioma == 1%}
                    Adress:
                  {%endif%}
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" value="" id="usuario-dir" name="dir" />
                </div>
            </div>
          </div>
      </div>
  </form>
</div>

<div class="well col-md-6">
  <ul class="nav nav-tabs" id="dp-tab">
    <li class="active"><a href="#dp-dl-tab" data-toggle="tab">
      {%if idioma == 0%}
        Datos Laborales
      {%endif%}
      {% if idioma == 1%}
        Laboral Information
      {%endif%}
    <i class="fa"></i></a></li>
    <li><a href="#dp-cuentas-tab" data-toggle="tab">
      {%if idioma == 0%}
        Cuentas
      {%endif%}
      {% if idioma == 1%}
        Accounts
      {%endif%}
    <i class="fa"></i></a></li>
    <li><a href="#dp-sesion-tab" data-toggle="tab">
      {%if idioma == 0%}
        Sesión
      {%endif%}
      {% if idioma == 1%}
        Session
      {%endif%}
    <i class="fa"></i></a></li>
  </ul>

  <form id="dpusuarioForm" method="post" class="form-horizontal">
      <div class="tab-content" id="dp-tabcont">

          <div class="tab-pane active" id="dp-dl-tab">
            </br>
            <div class="form-group">
              <label class="col-md-5 control-label">
                {%if idioma == 0%}
                  Perfil:
                {%endif%}
                {% if idioma == 1%}
                  Profile:
                {%endif%}
              </label>
              <div class="col-md-5">
                  <select id="perf-sel" name="perf-sel" class="form-control">
                    <option value="-1">--------</option>
                    {% for perfil in perfiles %}
                      <option value="{{perfil.idperfil}}">{{perfil.nombre}}</option>
                    {% endfor %}
                  </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-5 control-label">
                {%if idioma == 0%}
                  Observaciones:
                {%endif%}
                {% if idioma == 1%}
                  Observations:
                {%endif%}
              </label>
              <div class="col-md-7">
                  <input type="text" class="form-control" id="dl-obs" value=""/>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="dp-cuentas-tab">
            </br>
                <div class="row" style="padding-top:2%;">
                  <div class="dual-list list-left col-md-6">
                      <div class="well text-right">
                          <div class="row">
                              <div class="col-md-12" style="text-align:center;">
                                      <h4>
                                        {%if idioma == 0%}
                                          Disponibles
                                        {%endif%}
                                        {% if idioma == 1%}
                                          Avalaible
                                        {%endif%}
                                      </h4>
                              </div>
                              <div class="col-md-12">
                                  <div class="input-group">
                                      <span class="input-group-addon glyphicon glyphicon-search"></span>
                                      <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                  </div>
                              </div>
                          </div>
                          <div class="scrollDiv">
                            <ul class="list-group" type="cuenta">
                                {% for cuenta in cuentas %}
                                <li class="list-group-item" id="cta-{{cuenta.idcuenta}}">{{cuenta.codigo}}</li>
                                {% endfor %}
                            </ul>
                          </div>
                      </div>
                  </div>

                  <div class="list-arrows col-md-1 text-center">
                    {% if 32 in ops %}
                      <button class="btn btn-default btn-sm move-right">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                      </button>

                      <button class="btn btn-default btn-sm move-left">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                      </button>
                      {% endif %}
                  </div>

                  <div class="dual-list list-right col-md-5">
                      <div class="well text-right">
                          <div class="row">
                              <div class="col-md-12" style="text-align:center;">
                                   <h4>
                                      {%if idioma == 0%}
                                        Asignadas
                                      {%endif%}
                                      {% if idioma == 1%}
                                        Assigned
                                      {%endif%}
                                   </h4>
                              </div>
                          </div>
                          <br/><br/>
                          <div class="scrollDiv">
                            <ul class="list-group" type="cuenta">
                            </ul>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

          <div class="tab-pane" id="dp-sesion-tab">
            </br>
            <!-- Text input-->
            <div class="col-md-10">
              <label>
                {%if idioma == 0%}
                  Nombre de Usuario:
                {%endif%}
                {% if idioma == 1%}
                  User Name:
                {%endif%}
              </label>
              <input id="nomusr" name="nomusr" type="text"  class="form-control input-md" readonly>
            </div>
            <div class="col-md-2">
                </br>
                <div class="checkbox">
                  <label for="ldapcb">
                    <input type="checkbox" name="ldapcb" id="ldapcb" value="0">
                    LDAP
                  </label>
                </div>
                </br>
            </div>
            <!-- Text input-->
            <div class="col-md-7">
              <label>
                {%if idioma == 0%}
                  Contraseña:
                {%endif%}
                {% if idioma == 1%}
                  Password:
                {%endif%}
              </label>
              <input id="contusr" name="contusr" type="password"  class="form-control input-md">
              </br>
            </div>
            <!-- Text input-->
            <div class="col-md-7">
              <label>
                {%if idioma == 0%}
                  Repetir Contraseña:
                {%endif%}
                {% if idioma == 1%}
                  Repeat Password:
                {%endif%}
              </label>
              <input id="contusr2" name="contusr2" type="password"  class="form-control input-md">
              </br>
            </div>

            <div class="col-md-12">
              {% if 27 in ops %}
              <button type="button" id="contrRstButton" data-loading-text="Cargando..." class="col-md-4 btn btn-success" autocomplete="off">
                  {%if idioma == 0%}
                    Reset Contraseña
                  {%endif%}
                  {% if idioma == 1%}
                    Password Reset
                  {%endif%}
              </button>
              {% endif %}
            </div>

          </div>
      </div>
  </form>
</div>

<ul id="cuentas_disp" hidden>
    {% for cuenta in cuentas %}
        <li class="list-group-item" id="cta-{{cuenta.idcuenta}}">{{cuenta.codigo}}</li>
    {% endfor %}
</ul>

<!-- Static Modal para procesando -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="{% static 'images/procesando.gif' %}" class="icon" />
                    {%if idioma == 0%}
                      <h4>Procesando, por favor espere.</h4>
                    {%endif%}
                    {%if idioma == 1%}
                      <h4>Processing, wait please.</h4>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/sweet-alert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/seg_Usuarios.js' %}"></script>
{% endblock %}