{% extends "matcher/base.html" %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.scroller.css' %}">
<link rel="stylesheet" href="{% static 'css/picker.css' %}">
<link rel="stylesheet" href="{% static 'css/picker.date.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'css/dual_list.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.bootstrap-touchspin.min.css' %}">
{% endblock%}

{% block content %}
<div class="table-responsive col-md-10">
<br>
    <h2> Licencia </h2>
    <br> 
    <div id="Licencia-cargar">
        <legend>Cargar Licencia</legend>
            <tr>
                <td class="col-md-6 ">
                    <div class="col-md-7 form-group">
                        <label class="col-md-4 control-label" >Archivo de Carga:</label>
                        <div class="col-md-8">
                            <select id="archivoLic" name="archivoLicN" class="form-control">
                                <option value="-1">--------------</option>
                                {% for archivo in archivos %}
                                <option value="{{archivo}}">{{archivo}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </td>
                <td class "col-md-3">
                    <button type="button" id="cargarLicButton" class="col-md-2 btn btn-primary">
                        Cargar
                    </button>
                </td>           
            </tr>
            <br>
    </div>
</div>

<!-- Static Modal para procesando -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="{% static 'images/procesando.gif' %}" class="icon" />
                    <h4>Procesando, por favor espere.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script> 
//define el idioma de la tabla (es/en)
idioma_tr = "es"
</script>
<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.scroller.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/picker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/picker.date.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pickerlegacy.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sweet-alert.min.js' %}"></script>
<script src="{% static 'js/validator.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap-touchspin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/seg_licencia.js' %}"></script>

{% endblock %}