{% extends "matcher/base.html" %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.scroller.css' %}">
<link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'css/dual_list.css' %}">
{% endblock%}

{% block content %}
<input type="text" id="idioma" value="{{idioma}}" hidden/>
<legend>
    {%if idioma == 0%}
        Módulos del Sistema
    {%endif%}
    {%if idioma == 1%}
        System Modules
    {%endif%}
</legend>
<ul class="nav nav-tabs col-md-12" id="Mod-tab">
    <li class="active"><a href="#Adquiridos-tab" data-toggle="tab">
        {%if idioma == 0%}
            Adquiridos
        {%endif%}
        {%if idioma == 1%}
            Acquired
        {%endif%}
    <i class="fa"></i></a></li>
    <li><a href="#NoAdquiridos-tab" data-toggle="tab">
        {%if idioma == 0%}
            No Adquiridos
        {%endif%}
        {%if idioma == 1%}
            Not Acquired
        {%endif%}
    <i class="fa"></i></a></li>
</ul>
<div class="tab-content col-md-12">
    <br>
    <div class="tab-pane active" id="Adquiridos-tab">
        <div class="well table-responsive col-md-12">
          <legend>
            {%if idioma == 0%}
                Lista de Módulos Adquiridos
            {%endif%}
            {%if idioma == 1%}
                Acquired Modules List
            {%endif%}
          </legend>
            <table id="table-Adq" class="table table-bordered table-striped tabla">
                <thead>
                    <tr>
                        <th>
                            {%if idioma == 0%}
                                Descripción
                            {%endif%}
                            {%if idioma == 1%}
                                Description
                            {%endif%}
                        </th>
                        <th style="text-align:center">
                            {%if idioma == 0%}
                                Estado
                            {%endif%}
                            {%if idioma == 1%}
                                Status
                            {%endif%}
                        </th>
                        <th>
                            {%if idioma == 0%}
                                Seleccionar
                            {%endif%}
                            {%if idioma == 1%}
                                Select
                            {%endif%}
                        </th>
                    </tr>
                </thead>
                <tbody id="tb-Adq" >
                    {% for modulo in modulos %}
                        {% if modulo.activo == 1 %}
                            <tr id="{{modulo.idmodulo}}">
                                <td>{{modulo.descripcion}}</td>
                                <td style="text-align:center; width: 24px;"><span class="fa fa-unlock"></span></td>
                                <td style="text-align:center; width: 24px;"><input class="chkSelection" type="checkbox" id="Mod-{{modulo.pk}}" onchange="chequear(this)"></td>
                            </tr>
                        {%endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-5" align="rigth">
            <button type="button" id="quitarModButton" class="col-md-3 btn btn-danger">
                {%if idioma == 0%}
                    Eliminar
                {%endif%}
                {%if idioma == 1%}
                    Delete
                {%endif%}
            </button>
        </div>
    </div>

    <div class="tab-pane" id="NoAdquiridos-tab">
        <div class="well table-responsive col-md-12">
          <legend>
              {%if idioma == 0%}
                Lista de Módulos sin Adquirir
            {%endif%}
            {%if idioma == 1%}
                Not Acquired Modules List
            {%endif%}
          </legend>
            <table id="table-NoAdq" class="table table-bordered table-striped tabla">
                <thead>
                    <tr>
                        <th>
                            {%if idioma == 0%}
                                Descripción
                            {%endif%}
                            {%if idioma == 1%}
                                Description
                            {%endif%}
                        </th>
                        <th style="text-align:center">
                            {%if idioma == 0%}
                                Estado
                            {%endif%}
                            {%if idioma == 1%}
                                Status
                            {%endif%}
                        </th>
                        <th>
                            {%if idioma == 0%}
                                Seleccionar
                            {%endif%}
                            {%if idioma == 1%}
                                Select
                            {%endif%}
                        </th>
                    </tr>
                </thead>
                <tbody id="tb-NoAdq">
                    {% for modulo in modulos %}
                        {% if modulo.activo == 0 %}
                            <tr id="{{modulo.idmodulo}}">
                                <td>{{modulo.descripcion}}</td>
                                <td style="text-align:center; width: 24px;"><span class="fa fa-lock"></span></td>
                                <td style="text-align:center; width: 24px;"><input class="chkSelection2" type="checkbox" id="Mod-{{modulo.pk}}" onchange="chequearA(this)"></td>
                            </tr>
                        {%endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-5" align="rigth">
            <button type="button" id="agregarModButton" class="col-md-3 btn btn-primary">
                {%if idioma == 0%}
                    Agregar
                {%endif%}
                {%if idioma == 1%}
                    Add
                {%endif%}
            </button>
        </div>
    </div>
</div>
<!-- Static Modal para procesando -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="{% static 'images/procesando.gif' %}" class="icon" />
                    {%if idioma == 0%}
                      <h4>Procesando, por favor espere.</h4>
                    {%endif%}
                    {%if idioma == 1%}
                      <h4>Processing, wait please.</h4>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.scroller.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/sweet-alert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/SU_modulos.js' %}"></script>
<script src="{% static 'js/validator.js' %}" type="text/javascript"></script>


{% endblock %}